[submodule "replications/schelling1971"]
	path = replications/schelling1971
	url = git@github.com:akitenkrad/schelling1971.git
[submodule "replications/axelrod1997"]
	path = replications/axelrod1997
	url = git@github.com:akitenkrad/axelrod1997.git
[submodule "simulators/rs-othello-sim"]
	path = simulators/rs-othello-sim
	url = git@github.com:akitenkrad/rs-othello-sim.git
[submodule "replications/logistello"]
	path = replications/logistello
	url = git@github.com:akitenkrad/rs-logistello.git
[submodule "simulators/rs-social-simulation-tools"]
	path = simulators/rs-social-simulation-tools
	url = git@github.com:akitenkrad/rs-social-simulation-tools.git
[submodule "replications/hegselmann2005"]
	path = replications/hegselmann2005
	url = git@github.com:akitenkrad/hegselmann2005.git
[submodule "replications/granovetter1973"]
	path = replications/granovetter1973
	url = git@github.com:akitenkrad/granovetter1973.git
[submodule "replications/chuang2024"]
	path = replications/chuang2024
	url = git@github.com:akitenkrad/chuang2024.git
[submodule "replications/li2024"]
	path = replications/li2024
	url = git@github.com:akitenkrad/li2024.git
[submodule "replications/gao2023"]
	path = replications/gao2023
	url = git@github.com:akitenkrad/gao2023.git
[submodule "replications/ren2024"]
	path = replications/ren2024
	url = git@github.com:akitenkrad/ren2024.git
[submodule "replications/zhao2024"]
	path = replications/zhao2024
	url = git@github.com:akitenkrad/zhao2024.git
[submodule "replications/hua2024"]
	path = replications/hua2024
	url = git@github.com:akitenkrad/hua2024.git
[submodule "replications/yang2024"]
	path = replications/yang2024
	url = git@github.com:akitenkrad/yang2024.git
[submodule "replications/mou2024"]
	path = replications/mou2024
	url = git@github.com:akitenkrad/mou2024.git
[submodule "replications/wang2025"]
	path = replications/wang2025
	url = git@github.com:akitenkrad/wang2025.git
[submodule "replications/han2023"]
	path = replications/han2023
	url = git@github.com:akitenkrad/han2023.git
[submodule "replications/ji2024"]
	path = replications/ji2024
	url = git@github.com:akitenkrad/ji2024.git
[submodule "replications/hegselmann2002"]
	path = replications/hegselmann2002
	url = git@github.com:akitenkrad/hegselmann2002.git
[submodule "replications/knoll2013"]
	path = replications/knoll2013
	url = git@github.com:akitenkrad/knoll2013.git
[submodule "replications/brinsfield2013"]
	path = replications/brinsfield2013
	url = git@github.com:akitenkrad/brinsfield2013.git
[submodule "replications/detert2011"]
	path = replications/detert2011
	url = git@github.com:akitenkrad/detert2011.git
[submodule "replications/edmondson1999"]
	path = replications/edmondson1999
	url = git@github.com:akitenkrad/edmondson1999.git
