[submodule "replications/schelling1971"]
	path = replications/schelling1971
	url = git@github.com:akitenkrad/schelling1971.git
[submodule "replications/axelrod1997"]
	path = replications/axelrod1997
	url = git@github.com:akitenkrad/axelrod1997.git
[submodule "simulators/rs-othello-sim"]
	path = simulators/rs-othello-sim
	url = git@github.com:akitenkrad/rs-othello-sim.git
[submodule "replications/logistello"]
	path = replications/logistello
	url = git@github.com:akitenkrad/rs-logistello.git
[submodule "simulators/rs-social-simulation-tools"]
	path = simulators/rs-social-simulation-tools
	url = git@github.com:akitenkrad/rs-social-simulation-tools.git
[submodule "replications/hegselmann2005"]
	path = replications/hegselmann2005
	url = git@github.com:akitenkrad/hegselmann2005.git
[submodule "replications/granovetter1973"]
	path = replications/granovetter1973
	url = git@github.com:akitenkrad/granovetter1973.git
[submodule "replications/chuang2024"]
	path = replications/chuang2024
	url = git@github.com:akitenkrad/chuang2024.git
